@model Car

<div class="col-lg-4 model">
    <img src="@Model.img" alt="@Model.name" />
    <h2 class="model-title">@Model.name</h2>
    <p>Долговечность: @Model.durability</p>
    <p>Цена: @Model.price.ToString("c")</p>
    <a class="btn btn-warning" href="#">Подробнее</a>
</div>